@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body,html{
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
  overflow: hidden;
}
body{
  position: absolute;
  top: 0px;
  left: 0px;
}
.navbar{
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #333;
  font-family: Verdana;
  overflow: hidden;
}
.navbar ul{
  padding: 0px;
  margin: 0px;
}
.navbar li{
  list-style-type: none;
  float:left;
}
.navbar li a{
  display: block;
  color: #007bff;
  text-decoration: none;
  padding: 14px 16px;
  letter-spacing: 1px;
  cursor: default;
}
.navbar li a.active{
  background-color: #23ad29;
  color: white;
}
.navbar li a:not(.active):hover{
  background-color: black;
  text-shadow: 1px 1px 2px #007bff;
  cursor: pointer;
}
.navbar li.rt{
  float: right;
}
.content{
  position: absolute;
  bottom: 0px;
  width: calc(100vw - 8px);
  padding-left: 8px;
}
